<a href="https://colab.research.google.com/github/sakikal/python-/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
  print(i,"k")

In [ ]:

for i in range(50):
  if i%2==0:
   print(i,"this is even number")

  elif i%2==1:
    print(i,"odd number")
  else:
    print(" number")

In [ ]:
for i in range(100):

  if i%10==0:
    print(i,"#")
    if i%5==0 :
     print(i,"*")
  else:
    print("unvalid")

In [ ]:

for j in range(50):
  i=2000+j
  if i%400==0 and i%100==0 or i%4==0:
    print(i,"leap year")

  elif i%10==0:
    print(i,"decade")
  
 
  else:
    print("normal year")