<a href="https://colab.research.google.com/github/sakikal/python-/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
  print(i,"k")

In [ ]:

for i in range(50):
  if i%2==0:
   print(i,"this is even number")

  elif i%2==1:
    print(i,"odd number")
  else:
    print(" number")

In [ ]:
for i in range(100):

  if i%10==0:
    print(i,"#")
    if i%5==0 :
     print(i,"*")
  else:
    print("unvalid")

In [ ]:

for j in range(50):
  i=2000+j
  if i%400==0 and i%100==0 or i%4==0:
    print(i,"leap year")

  elif i%10==0:
    print(i,"decade")
  
 
  else:
    print("normal year")

In [ ]:
for month in range(12):
  if month==2:
    print(month,"28 days")
  elif month in [1,3,5,7,9,11]:
    print(month,"31 days")
  elif month in [4,6,8,10,12]:
    print(month,"30 days")
  else:
    print(" ")

In [ ]:

num=int(input())
 
for i in range(1,11):
  print(num,"x",i ,"=",num*i)

In [ ]:
num= 1234
i=0
while num!= 0:
  num=num/10
  i=i+1
  print(i)

 
print(i)

In [ ]:
num = 3452
count = 0

while num != 0:
    num= num/10
    count += 1

print("Number of digits: " ,count)